.card {
  a {
    color: $black;
  }
  box-shadow:  0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  
}
.card:hover {
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.05) !important;
}
.card-body {

  padding: 5rem 3rem !important;
}
.card-top {
  margin-top: -12.5rem !important;
}