.scroll-top {
  position: fixed;
  display: block;
  bottom: 1.5625rem;
  right: 1.5625rem;
  z-index: 999;
  background: $dark;
  height: 2.375rem;
  width: 2.375rem;
  line-height: 2.25rem;
  text-align: center;
  font-size: .875rem;
  transition: .5s all ease;
  transform: translateY(4.25rem);
  color: $white;
  border: 1px solid $white;
}

.scroll-top.scroll-top-visible {
  transform: translateY(0);
}

.scroll-top:hover {
  transform: translateY(-0.3125rem);
}

@media (max-width: 767.98px) {
  .scroll-top {
      display: none;
  }
}
