.theme-button
{
  cursor: pointer;
}

[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;

  .bg-light {
    background-color: #111 !important;
  }
  .bg-white {
    background-color: #222 !important;
  }
  .navbar-light {
    background-color: #111 !important;
  }
}
