.card {
  a {
    color: $black;
  }
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.03);
  //box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}
.card:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.05)!important;
  //box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.05) !important;
}
.card-body {
  padding: 4.5rem 2.75rem !important;
}
.card-top {
  margin-top: -12.5rem !important;
}

.nothing-to-see {
  padding: 12rem 0 15rem 0;
}

.card-img-top {
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
}

.card-text {
  font-weight: 400;
  color: #777;
  font-size: 0.95em;
}

.avatar {
  max-width: 2.25rem;
  min-width: 2.25rem;
  height: 2.25rem;
  overflow: hidden;
  //border-radius: 50%;
  margin-right: 0.25rem;
}
