.scroll-top {
  position: fixed;
  display: block;
  bottom: 1.5625rem;
  right: 1.5625rem;
  z-index: 999;
  background: rgba(255, 255, 255, .9);
  height: 2.375rem;
  width: 2.375rem;
  line-height: 2.25rem;
  text-align: center;
  font-size: .875rem;
  border-radius: 100%;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, .05);
  transition: .5s all ease;
  transform: translateY(4.25rem);
  color: #788487;
}

.scroll-top.scroll-top-visible {
  transform: translateY(0);
}

.scroll-top:hover {
  transform: translateY(-0.3125rem);
}

@media (max-width: 767.98px) {
  .scroll-top {
      display: none;
  }
}