.footer {
  background: #222;
}

.footer h1,
.footer .h1,
.footer h2,
.footer .h2,
.footer h3,
.footer .h3,
.footer h4,
.footer .h4,
.footer h5,
.footer .h5,
.footer h6,
.footer .h6 {
  color: #fff;
}

.footer a,
.footer .social-icons > li > a {
  color: #cecece;
}

.footer a:hover,
.footer a:focus,
.footer .social-icons > li > a:hover,
.footer .social-icons > li > a:focus {
  color: #f4f4f4;
}

.footer .widget-categories ul li,
.footer .widget-recent-entries ul li,
.footer .widget-recent-entries-custom ul li {
  border-color: #2f2f2f;
}

.footer .form-control {
  background: #1d1d1d;
  border-color: #1c1c1c;
}

.footer-widgets {
  padding: 90px 0 30px;
}

.footer-widgets + .footer-bar {
  border-top: 1px solid #2c2c2c;
}

.footer-bar {
  text-align: center;
  font-size: .75rem;
  padding: 22px 0;
}

.footer-bar p {
  margin-bottom: 0;
}