{% assign author = post.author | default: site.data.authors.first[0] | default: site.author %}
<li class="col-xxl-12">
  <div class="card border-0 {%- if include.is_first -%}{{ " mb-4 card-top" }}{%- else -%}{{ " my-4" }}{%- endif -%}" data-aos="fade-up" data-aos-delay="0"
       data-aos-once="true">
    {%- if site.show_image -%}
    {%- if post.image -%}
    <!-- <div class="col-4 d-table-cell p-3 v-align-middle"> -->
    <img class="card-img-top" src="{{ post.image | relative_url }}" alt="Card image cap">
    <!-- </div> -->
    {%- endif -%}
    {%- endif -%}
    <div class="card-body">
      <h6 class="card-info">
        <span>{{ post.categories }}</span>
      </h6>
      <h3 class="card-title">
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_description and post.description -%}
      <p class="card-text post-meta-description">{{ post.description }}</p>
      {% else %}
      {%- if site.show_excerpts -%}
      <p class="card-text post-meta-description">{{ post.excerpt | strip_html }}</p>
      {%- endif -%}
      {%- endif -%}

      <div class="post-author">

        {% for a in author %}
        <a class="d-flex align-items-center flex-wrap" href="/about/#{{ a }}">
          {%- if site.data.authors[a].picture -%}
          <div class="avatar">
            <img class="img-fluid" src="{{ site.data.authors[a].picture | relative_url }}" alt="author" title="{{ a }}">
          </div>
          {%- endif -%}
          {{ a }}
        </a>
        {% endfor %}
      </div>

      <p class="card-text post-meta"><small class="text-muted">
          <!-- Time Posted Start -->
          <i class="far fa-clock"></i>
          <span class="post-time">{{ post.date | date: date_format }}</span>
          <!-- Time Posted End -->
        </small></p>

      {%- if post.tags.size > 0 -%}
      <p class="card-text post-meta">
        <small class="text-muted">
          {%- for tag in post.tags -%}
          <a class="tag" href="#" title="{{ tag }}">
            <span class="pe-1"><i class="fas fa-tag"></i></span>{{ tag }}
          </a>
          {%- endfor -%}
        </small>
      </p>
      {%- endif -%}

    </div>
  </div>
</li>
