/* ================= */
// BASE: TYPOGRAPHY
/* ================= */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Catamaran,Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.35;
    margin-bottom: .5rem;
    color: #212529
}

.h1,
h1 {
    font-size: 2.125rem
}

.h2,
h2 {
    font-size: 1.625rem
}

.h3,
h3 {
    font-size: 1.375rem
}

.h4,
h4 {
    font-size: 1.125rem
}

.h5,
h5 {
    font-size: .9375rem
}

.h6,
h6 {
    font-size: .75rem
}

.lead {
    font-size: 1.0625rem;
    font-weight: 300
}


@media (max-width:767.98px) {
    h1 {
        font-size: 1.5rem
    }
    h2 {
        font-size: 1.375rem
    }
    h3 {
        font-size: 1.25rem
    }
    h4 {
        font-size: 1.125rem
    }
    h5 {
        font-size: .9375rem
    }
    h6 {
        font-size: .75rem
    }
}


.lg-title{
    font-size: 52px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 60px;
    color: rgb(33, 37, 41);
}

.di