// https://teamtreehouse.com/community/how-do-i-remove-white-space-between-header-section-footer

body {
  margin: 0;
  padding: 0;

}

header,
section,
article,
footer {
    margin: 0;
    padding: 1rem; /* tweaked from 0 to 1px */
}

img{
  max-width: 100%;
  height: auto;
}
